<app-container>
  <h2>Lista de Rotas</h2>
  <table>
    <thead>
      <tr>
        <th>Origem</th>
        <th>Destino</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rota of rotas">
        <td>{{ rota.origem }}</td>
        <td>{{ rota.destino }}</td>
        <td>{{ rota.valor }}</td>
        <td>
          <button (click)="deleteRota(rota.id)">Excluir</button>
          <a [routerLink]="['/rotas/editar', rota.id]">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/rotas/nova']">Adicionar Nova Rota</a>
  </app-container>
